.jumbotron {
  color: rgb(0, 0, 0);
  background-color: brown;
  text-align: center;
}

h1 {
font-size: 100px;
}

img {
  border-style: solid;
  border-color: darkred;
  height: auto;
  width: auto;
  img-res
}

.responsive {
  width: 100%;
  height: auto;
}


p {
  font-size: 30px;
  text-align: left;
}

.container {
  font-size: 30px;
}

h3  {
  font-size: 30px;
}

input[type='radio'] {
  height: 20px;
  width: 20px;
}

input[type='form-group'] {
  height: 20px;
  width: 20px;
}

div {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  margin-left: 20px;
}